<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.haiku.wateroffer">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />


    <application
        android:name=".APPApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"

        android:theme="@style/AppTheme"
        tools:replace="android:icon">
        <activity android:name=".mvp.view.activity.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".mvp.view.activity.MainActivity" />
        <!-- 订单相关 -->
        <activity android:name=".mvp.view.activity.OrderInfoActivity" />
        <!-- 商品相关 -->
        <activity android:name=".mvp.view.activity.GoodsEditActivity" />
        <!-- 店铺相关 -->
        <activity android:name=".mvp.view.activity.ShopNameActivity" />
        <activity android:name=".mvp.view.activity.ShopAddressActivity" />
        <activity android:name=".mvp.view.activity.PhoneEditActivity" />
        <activity android:name=".mvp.view.activity.DeliverListActivity" />
        <activity android:name=".mvp.view.activity.DeliverSelectActivity" />
        <activity android:name=".mvp.view.activity.MyBillActivity" />
        <activity android:name=".mvp.view.activity.DepositActivity" />
        <activity android:name=".mvp.view.activity.ContributionActivity" />

    </application>

</manifest>
